---
import { COMPANY_NAME } from '../consts';
---

<footer class="flex items-center justify-center h-15 bg-bg-black text-text-hanshi text-center text-sm tracking-wide py-3">
  <p class="text-text-hanshi text-xs">
    &copy; 2024 {COMPANY_NAME} All Rights Reserved.
  </p>
</footer>
